@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-inter), var(--font-suwannaphum);
}
h1{
    font-family: var(--font-kantumruyPro);
}
.none-scroll-bar::-webkit-scrollbar {
	display: none;
}
